.SearchContainer {
	display: flex;
	flex-direction: column;
	.SearchbarInputContainer {
		height: fit-content;
		width: 100%;
		padding: 10px;
		padding-top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #212529;

		.SearchbarInput {
			border: none;
			background-color: #383837;
			border-radius: 5px;
			width: 95%;
			padding: 5px 10px;
			margin: 2px;
			color: white;
			font-size: 18px;
			text-align: center;
			&::placeholder {
				color: gray;
			}
			&:focus-visible {
				border: none;
				outline-color: transparent !important;
			}
		}
	}
}

ul.nav-tabs {
	border: none;
	background-color: #212529;
	li {
		width: calc(100% / 3);

		border-radius: 0px;
		button.nav-link {
			width: 100%;
			height: 100%;
			border-radius: 0px;
			color: gray;
			&.active {
				background-color: #212529;
				border: none;
				border-bottom: 2px solid orange;
				color: white;
			}
		}
	}
}

.SearchHeader {
	margin: 10px;
	font-size: 20px;
}

.SearchResults {
	.AnimeDetailsContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: black;
		height: fit-content;
		width: calc(95%);
		margin: 10px auto;
		background-color: rgb(43, 43, 43);
		// padding: 10px;
		border-radius: 5px;

		.AnimeImageContaienr {
			margin: 10px;
			height: fit-content;
			border: 2px solid gray;
			.AnimeImage {
				height: 100px;
				width: 71px;
				object-fit: cover;
				overflow: hidden;
			}
		}
		.AnimeDetails {
			height: fit-content;
			width: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			box-sizing: border-box;
			text-align: center;
			margin: 10px auto;

			h2,
			p,
			span {
				margin: 4px !important;
				height: fit-content;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
			}

			.AnimeTitle {
				width: fit-content;
				margin: 0;
				font-size: 18px;
				margin-bottom: 10px;
				text-align: center;
				// Prevent multi-line titles
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 200px;
			}
			.AnimeRanking,
			.AnimeGenres {
				display: flex;
				width: 100%;
				justify-content: space-evenly;
				margin-bottom: 10px;

				.GenreChip {
					background-color: gray;
					color: white;
					font-size: 10px;
					padding: 0px 0px;
					span {
						padding: 5px 6px;
					}
				}
			}
		}

		.MangaImage {
			height: 200px;
			width: 200px;
			overflow: hidden;
		}

		.MangaDetails {
			height: 200px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
			padding: 20px;

			.MangaTitle {
				width: fit-content;
				margin: 0;
				font-size: 18px;
				margin-bottom: 10px;
			}

			.MangaRanking,
			.MangaGenres {
				display: flex;
				width: 100%;
				justify-content: space-evenly;
				margin-bottom: 10px;
				p {
					margin: 0px;
				}
			}
		}
	}

	.AnimeContainer,
	.MangaContainer {
		width: calc(95%);
		flex-direction: column;
		border: 1px solid white;
		margin: 10px auto;
		background-color: rgb(43, 43, 43);

		.AnimeAbout,
		.MangaAbout {
			padding: 10px;
			padding-bottom: 0px;
			margin: 0;
			text-align: center;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
