.flex {
	display: flex;
	&.justcenter {
		justify-content: center;
	}
	&.justapart {
		justify-content: space-between;
	}
	&.aligncenter {
		align-items: center;
	}
	&.justcolumn {
		flex-direction: column;
	}
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}
