.BC {
	border-bottom: 1px solid #8d99ae;
	ol {
		margin: 0px !important;
		padding: 10px;
	}
	.BreadCrumbItemsStyle {
		height: fit-content;
		padding: 0px;
		margin: 0px;
		color: white;

		&.Active {
			color: #8d99ae;
			max-width: 150px;
			box-sizing: border-box;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			word-wrap: normal;
		}

		p {
			margin: 0px;
			padding: 0px;
		}

		a {
			text-decoration: none !important;
			color: white;
		}
	}
}

.AnimeCard {
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 320px !important;
	overflow: hidden;

	flex: 1 0 0%;
	width: 45%;
	height: fit-content;
	border: 1px solid #8d99ae;
	float: left;
	margin: 2.5%;
	margin-top: 10px;

	img {
		height: 200px;
		width: 100%;
	}
	div {
		width: 95%;
		h2 {
			text-align: center;
			margin: 7px auto 6px auto;
			font-size: 17px;
			max-width: 145px;
			box-sizing: border-box;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			word-wrap: normal;
		}
		span {
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			margin-bottom: 6px;
			p {
				font-size: 11px;
				margin: 0px;
				width: fit-content;
			}
		}
		.Animesynopsis {
			font-size: 11px;
			padding: 0px 2px;
			text-align: center;

			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}

.AnimeDetailsContainer {
	display: flex;
	flex-direction: column;

	img {
	}

	.AnimeTitle {
		text-align: center;
		margin-top: 10px;
	}

	.AnimeScoreContainer {
		display: flex;
		width: 90%;
		margin: 0 auto;
		justify-content: space-evenly;
	}

	.ButtonContainer {
		display: flex;
		width: 90%;
		margin: 0 auto;
		justify-content: space-evenly;

		button {
			background-color: transparent;
			color: white;
			border-radius: 15px;
			padding: 5px 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.AnimeGenreContainer {
		.AnimeGenreTag {
		}
	}

	.AnimeSynopsis {
		margin: 20px auto 20px auto;
		width: 90%;
		text-align: center;
	}
}
