.BC {
	border-bottom: 1px solid #8d99ae;
	ol {
		margin: 0px !important;
		padding: 10px;
	}
	.BreadCrumbItemsStyle {
		height: fit-content;
		padding: 0px;
		margin: 0px;
		color: white;

		&.Active {
			color: #8d99ae;
			max-width: 150px;
			box-sizing: border-box;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			word-wrap: normal;
		}

		p {
			margin: 0px;
			padding: 0px;
		}

		a {
			text-decoration: none !important;
			color: white;
		}
	}
}

.AnimeCard {
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 320px !important;
	overflow: hidden;

	flex: 1 0 0%;
	width: 45%;
	height: fit-content;
	border: 1px solid #8d99ae;
	float: left;
	margin: 2.5%;
	margin-top: 10px;

	img {
		height: 200px;
		width: 100%;
	}
	div {
		width: 95%;
		h2 {
			text-align: center;
			margin: 7px auto 6px auto;
			font-size: 17px;
			max-width: 145px;
			box-sizing: border-box;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			word-wrap: normal;
		}
		span {
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			margin-bottom: 6px;
			p {
				font-size: 11px;
				margin: 0px;
				width: fit-content;
			}
		}
		.Animesynopsis {
			font-size: 11px;
			padding: 0px 2px;
			text-align: center;

			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}

.AnimeDetailsContainer {
	display: flex;
	flex-direction: column;

	img {
		height: 500px;
		width: 100%;
	}

	.AnimeTitle {
		text-align: left;
		margin: 20px 0px 0px 15px;
	}

	.AnimeRating {
		display: flex;
		margin: 15px;
		height: fit-content;
		p {
			margin: 0;
		}
	}

	.MuiButton-outlined {
		margin-left: 15px;
		color: white;
		border: none !important;
		padding: 0px;
		width: fit-content;
		display: flex;
		align-items: center;
		font-size: 15px;
		span {
			color: white;
			margin: 0;
			padding: 0px;
			margin-right: 10px;
		}
		p {
			margin: 0;
			font-family: 'Oswald', sans-serif !important;
		}

		&.MuiLoadingButton-loading {
			> span {
				display: none;
			}
		}
	}

	.AnimeSynopsis {
		margin: 15px auto 20px 15px;
		width: 90%;
		text-align: left;
	}
}

.SimilarBanner {
	width: 100%;
	height: fit-content;
	background-color: transparent;

	display: flex;
	flex-direction: column;
	align-items: center;

	.page {
		min-height: 233px;
	}

	.SimilarContainer,
	.BannerContainer {
		width: 100%;
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;

		.SimilarAnimeContainer {
			height: fit-content;
			padding: 1px;
			width: 130px;
			overflow: visible;
			border-radius: 5px;
			background-color: #333533;

			button {
				overflow: hidden;
				height: 225px;
				width: 100%;

				img {
					width: 130px;
					height: 75%;
					border-top-right-radius: 5px;
					border-top-left-radius: 5px;
				}
				> div {
					height: 25%;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #333533;
					color: white;
					padding: 10px;

					> div {
						margin: 0;
						text-align: center;
						font-size: 14px;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						font-family: 'Oswald', sans-serif !important;
					}
				}
			}
		}
	}
}

.carouselimage {
	height: 300px;
	width: 100%;
}

.adcarouselimage {
	height: 230px;
	width: 100%;
}

.PosterContainer {
	display: flex;
	flex-direction: column;

	.PosterImage {
		height: 500px;
		width: 100%;
	}

	.PosterDetails {
		background-color: black;
		padding: 10px 20px;
		width: 100%;
		margin: 0px;

		.PosterSynopsis {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			color: gray;
		}

		.PosterButton {
			background-color: transparent;
			border: 1px solid orange;
		}
	}
}

.MuiDivider-light {
	background-color: white;
	margin: 10px 16px !important;
}

.Button {
	background-color: transparent !important;
	border: 1px solid orange !important;
}

.Banner {
	width: 100%;
	margin: 10px 0px 10px 20px;
	font-size: 18px;
}

.FavouritesContainer {
	border: 1px solid white;
	margin: 10px;
	position: relative;
	padding: 10px;

	.carousel-control-prev,
	.carousel-control-next {
		height: fit-content;
		margin: auto 0px;
	}
	.carousel-inner {
		overflow-x: hidden;
		height: 500px;
	}
	.FavouritesImage {
		height: 400px;
		width: auto;
	}

	.FavouritesDetails {
		padding: 10px 0px;
		.FavouritesTitle {
			font-size: 20px;
			width: 100%;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.FavouritesSynopsis {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
	span {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.FavouritesButton {
			background-color: transparent;
			border: 1px solid orange;
		}
		.FavouritesType {
			margin: 0px;
			font-size: 20px;
		}
	}
}

.ListContainer {
	overflow: hidden;
	.TitleContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: fit-content;
		padding: 0px 10px;
		margin: 20px 0px;
		margin-bottom: 10px;
		border-bottom: 1px solid orange;

		.ListTitle {
			width: fit-content;
			font-size: 22px;
			margin: 0;
			padding-bottom: 10px;
		}
	}
	&:nth-of-type(1) {
		.TitleContainer {
			margin-top: 10px;
		}
	}
}

.ListItemContainer {
	display: flex;
	padding: 0px 10px;
	width: 100%;
	overflow-x: scroll;

	.AnimeContainer {
		width: 100px;
	}
}

.AnimeListBanner,
.SimilarBanner {
	width: 100%;
	height: fit-content;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;

	.page {
		min-height: 233px;
	}

	.Banner {
		color: white;
		margin: 15px 0px;
	}

	.BannerContainer,
	.SimilarContainer {
		width: 100%;
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;

		.AnimeContainer {
			height: fit-content;
			border: none;
			margin-right: 15px;

			.AnimeImageContainer {
				.AnimeImage {
					height: 150px;
					width: 120px;
					object-fit: cover;
					border-radius: 10px;
					overflow: hidden;
				}
			}

			.AnimeDetailsContainer {
				p {
					margin: 0;
					font-size: 14px;
				}

				.AnimeName {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 120px;
					margin-top: 10px;
					font-size: 16px;
				}
				.AnimeScoreContainer {
					color: gray;
					display: flex;
					width: fit-content;
					height: auto;
					padding: 5px 0px;
					justify-content: space-between;
					align-items: center;

					.AnimeScoreTitle {
						height: fit-content;
						display: flex;
						align-items: center;
						position: relative;
						bottom: 1px;
					}
					.AnimeScore {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 14px;
						color: whitesmoke;
						background-color: rgb(167, 108, 0);
						padding: 0px 10px;
						border-radius: 10px;
						margin-left: 7px;
					}
				}
				.AnimeAiring {
					color: gray;
				}
			}
		}
	}
}
