.SignInContainer {
	display: flex;
	flex-direction: column;
	border: 1px solid green;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	div {
		width: 90%;
		height: 400px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border-radius: 15px;
		border: 1px solid orange;
		letter-spacing: 1px;

		h2 {
		}

		form {
			display: flex;
			flex-direction: column;
			width: 80%;
			height: 60%;
			justify-content: space-evenly;
			margin: 0 auto;

			input {
				border-radius: 5px;
				background-color: white;
				padding: 5px;
				margin: 10px 0px;
				&::placeholder {
					color: black;
				}
			}

			button {
				margin-top: 10px;
				border: 1px solid orange;
				background: transparent;
				text-transform: uppercase;
				border-radius: 5px;
			}

			a {
				padding-top: 15px;
				color: white;
				text-transform: capitalize;
			}
		}
	}
}
