.BottomNav {
	> div {
		background-color: black;
		> button {
			color: white;
		}
	}
}

#responsive-navbar-nav {
	> div {
		> a {
			height: fit-content;
			display: flex;
			align-items: center;
			color: rgb(175, 175, 175);

			svg {
				margin-right: 10px;
			}
		}
	}
}

.navbar.navbar-expand-lg {
	height: 65px;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
	z-index: 999999999999;
	background-color: #212529;
}
