.BottomNav {
	> div {
		background-color: black;
		> button {
			color: white;
		}
	}
}

#responsive-navbar-nav {
	> div {
		> a {
			height: fit-content;
			display: flex;
			align-items: center;
			color: rgb(175, 175, 175);

			svg {
				margin-right: 10px;
			}
		}
	}
}
