.UserDetailsContainer {
	border-bottom: 1px solid orange;
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;

	img {
		height: 70px;
		border-radius: 50px;
	}

	.UserInformationContainer {
		display: flex;
		flex-direction: column;
		text-align: end;

		h2 {
			margin: 10px 0px;
			margin-top: 15px;
		}
		button {
			background-color: transparent;
			border: 1px solid orange;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.SettingsBottomSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	.SettingsPageRow {
		&:nth-child(2n) {
			background-color: rgb(43, 43, 43);
		}
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 8px 10px;

		p {
			margin: 0;
		}
	}
	button {
		width: 30%;

		position: fixed;
		bottom: 3%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: transparent;
		border: 1px solid orange;
	}
}
