.UserDetailsContainer {
	border-bottom: 1px solid orange;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: center;
	align-items: center;
	img {
		height: 70px;
		border-radius: 50px;
	}
	h2 {
		margin: 10px;
		margin-top: 15px;
	}
	button {
		background-color: transparent;
		border: 1px solid orange;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.SettingsBottomSection {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	button {
		width: 30%;
		margin: 0 auto;
		background-color: transparent;
		border: 1px solid orange;
	}
}
